.my-progress {
  width: 100%;
  height: 30px;
  background-color: #000;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid lightcoral;
  transition: width 1s ease-in-out;
}
.fill {
  height: 100%;
  background-color: orange;
  border-radius: 10px 0 0 10px;
}
.fill1 {
  height: 100%;
  background-color: #ff4757;
  border-radius: 10px 0 0 10px;
}
.fill2 {
  height: 100%;
  background-color: forestgreen;
  border-radius: 10px 0 0 10px;
}
.fill3 {
  height: 100%;
  background-color: powderblue;
  border-radius: 10px 0 0 10px;
}
.fill4 {
  height: 100%;
  background-color: mediumpurple;
  border-radius: 10px 0 0 10px;
}
.fill5 {
  height: 100%;
  background-color: greenyellow;
  border-radius: 10px 0 0 10px;
}
.fill6 {
  height: 100%;
  background-color: lightgreen;
  border-radius: 10px 0 0 10px;
}
#back{
  width:100%;
  height:75px;
  border-radius: 20px;
  margin-top: 20px;
  background-color:#000;
  color:lightgreen;
}
p{
  margin-top: 10px;
}

